.imgFontStlye{
    position: relative;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: Montserrat, sans-serif; 
}

.cardContent{
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    .cardTitle{
        font-size: 36px;
        font-weight: bold;
    }
    .cardHr{
        width: 7%;
        border-bottom: 3px solid #0BA1E4;
        margin-top: 15px;
    }
    .cardDes{
        margin-top: 20px;
        font-size: 16px;
        color: #666;
    }
}

.dashCard{
    text-align: center;
    .p1{
        font-size: 48px;
        font-weight: bold;
        color: #0BA1E4;
    }

    .p2{
        font-size: 14px;
        color: #666;
    }
}
.barrageCard{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cardAdvantage{
    text-align: center;
    background-color: #fff;
    color:#666;
    height: 300px;
    .icon{
        font-size: 64px;
        color: #0BA1E4;
    }
    .p1{
        font-size: 24px;
        font-weight: bold;
    }
    .p2{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 14px;
        color: #666;
    }

}

//增加鼠标悬浮样式
.cardAdvantage:hover {
    background-color: #0BA1E4;
    color: #fff;
    .icon{
        color: #fff;
    }
    .p1{
        color: #fff;
    }
    .p2{
        color: #fff;
    }
}


.barrageCardFlow {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #fff;
    .p1{
        text-align: left;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon1{
            font-size: 24px;
            color: #0BA1E4;
        }
        .icon2{
            font-size: 24px;
            color: rgb(49, 6, 135);
        }
    }
}

barrageCardFlow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #e8e8e8;
}

.cardService{
    text-align: center;
    background-color: #fff;
    z-index: 0;
    border: 1px solid #e8e8e8;
    .title{
        color: #0BA1E4;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    .button{
        color: #0BA1E4;
        border: 1px solid #0BA1E4;
    }
}

.cardService:hover{
    background-color: #0BA1E4;
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 1;
    .title{
        color: #fff;
    }
    .button{
        color: #fff;
        border: 1px solid #fff;
        background-color: #0BA1E4;
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transform: translateX(0px);
    transition: transform 0.1s linear;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}