.container{
    padding: 24px 0;
    width: 100%;
    margin: 0 auth;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.layout{
    max-width: 70%;
    display: flex;
    background-color: #F4F5FA;
    
    
}


.header{
    height: 10%;
    flex: 1;
    
}

.left{
    width: 10%;
}

.right{
    flex: 1;
    margin-left: 60px;
}

