.container{
    padding: 24px 0;
    width: 1200px;
    margin: 0 auth;
    display: flex;
}

.header{
    height: 10%;
    flex: 1;
    
}

.left{
    width: 10%;
}

.right{
    flex: 1;
    margin-left: 60px;
}

